.location{
	width: 270px;
	height: 280px;
	margin-top: 30%;
	margin: auto;
	background-color: blue;
}
.form{
	width: 300px;
	margin:0 auto;
	background-color: red;
}
.center{
	/*width: 260px;*/
	/*margin-left: 30%;*/
	margin:0 auto;
	/*padding: 20%;*/
	/*background-color: red;*/
}
}
/*.login{
	margin:0 auto;
	/*color: red;*/
/*}*/