<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--  全局setting配置根据情况实时配置,我这里只是配置可以输入null值 -->
    <!--<settings>-->
    <!--<setting name="jdbcTypeForNull" value="NULL"/>-->
    <!--</settings>-->

    <!--  配置Java类的别名  -->
    <!--单个处理-->
    <!--<typeAliases>-->
    <!--<typeAlias type="com.spring_mybatis_concordance.dao.UserDAO" alias="UserDAO"/>-->
    <!--<typeAlias type="com.spring_mybatis_concordance.service.UserService" alias="UserService"/>-->
    <!--</typeAliases>-->
    <!--批量处理-->
    <!--<typeAliases>-->
        <!--&lt;!&ndash; 批量扫描别名  有别的包直接加一个就行 &ndash;&gt;-->
        <!--<package name="com.lsp.dao"/>-->
    <!--</typeAliases>-->

    <!--配置Mybatis运行环境-->
    <!--<environments default="development">-->
    <!--<environment id="development">-->
    <!--<transactionManager type="JDBC" />-->
    <!--&lt;!&ndash; 配置数据库连接信息 &ndash;&gt;-->
    <!--<dataSource type="POOLED">-->
    <!--<property name="driver" value="com.mysql.jdbc.Driver" />-->
    <!--<property name="url" value="jdbc:mysql://localhost:3306/test" />-->
    <!--<property name="username" value="root" />-->
    <!--<property name="password" value="mysql" />-->
    <!--</dataSource>-->
    <!--</environment>-->
    <!--</environments>-->
    <!-- 配置mapper     如果使用spring和mybatis的整合包进行mapper扫描，这里不需要配置了。
        但是必须遵循：mapper.xml和mapper.java文件同名并同目录,  如果需要将mapper与sql.xml分包放,就需要进行如下配置，这样的话更加灵活干净
      -->
    <mappers >
        <!--相对于类路径的资源引用-->
        <mapper resource="mappers/admin.xml"/>
        <mapper resource="mappers/book.xml"/>
        <mapper resource="mappers/staff.xml"/>
        <mapper resource="mappers/student.xml"/>
        <mapper resource="mappers/teacher.xml"/>
        <mapper resource="mappers/borrow.xml"/>
        <mapper resource="mappers/library.xml"/>
        <!--使用包内的映射器实现批量处理，该操作会将保内的所有mapper.xml全部配置掉-->
        <!--<package name="com.spring_mybatis_concordance.dao"/>-->
    </mappers>

</configuration>